<form-wizard>
  <wizard-step >
    <div class="row no-gutters">

      <div class="offset-3 col-lg-3  p-3">
        <a  class="btn-fb" (click)="facebookLogin()">
          <i class="fa fa-facebook-official"></i>
          Facebook
        </a>
      </div>
      <div class="col-lg-3 p-3">
        <a class="btn-google" (click)="googleLogin()">
          <img src="assets/img/icon-google.png" alt="GOOGLE">
          Google
        </a>
      </div>
    </div>

    <div class="row no-gutters p-2">
      <div class="offset-3 col-lg-9">
        <span class="txt1">
          Username
        </span>
      </div>
      <div class="offset-3 col-lg-6">
        <input class="form-control" type="text" name="username">
      </div>

    </div>
    <div class="row no-gutters p-2">
      <div class="offset-3 col-lg-9">
        <span class="txt1">
          Password
        </span>
      </div>
      <div class="offset-3 col-lg-6">
        <input class="form-control" type="password" name="password">
      </div>

    </div>

    <div class="row no-gutters">
      <div class="offset-3 col-lg-3">
        <div class="row no-gutters">
          <div class="col-lg-2 p-2">
            <input type="checkbox" class="form-control pull-left " id="rem">
          </div>
          <div class="col-lg-10">
            <label for="rem"><span class="box"></span>Remember me</label>
          </div>
          </div>
        </div>
        <div class="col-lg-3 forgot-pass">
          Forgot Password?
        </div>
      </div>

    <div class="row no-gutters">
      <div class="offset-3 col-lg-3 p-2">
        <button class="btn-login">
          Sign In
        </button>
      </div>
      <div class="col-lg-3 p-2">
        <button class="btn-signup" >
          Sign Up
        </button>
      </div>
    </div>

  </wizard-step>
  <wizard-step >
    <!--<div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
             [(ngModel)]="login.email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>-->
  </wizard-step>
  <wizard-step >

  </wizard-step>
  <wizard-step >

  </wizard-step>
  <wizard-step >
    <!--<div [ngSwitch]="isCompleted">
      <div *ngSwitchDefault>

      </div>
      <div *ngSwitchCase="true">
        <h4>Thank you! You have completed all the steps.</h4>
      </div>
    </div>-->
  </wizard-step>
</form-wizard>
